.datGridClass {
  margin-top: 5px;
  margin-left: 30px;
  padding: 5px;
}

.datGridClass input {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: small;
}

.pageDivClass {
  background-color: white;
  margin-left: 20px;
}

.container {
  display: 'flex';
  flex-wrap: 'wrap';
}

.margin {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.textField {
  flex-basis: 200,
}

.budgetJumpClass {
  background-color: violet;
}