.menuBoxClass {
    max-width: 40%;
    margin: 40px;
    padding: 15px;
    border: 2px solid #283618;
    border-radius: 5px;
    background-image: url("../../images/marble1_wallpaper.png");
    color: #283618;
}

.reportSelectorClass {
    margin: 30px;
    color: #283618;
}

.reportSelectorClass :hover {
    margin: 30px;
    color: #DDA15E;
}