
.nav {
  width: 1000px;
  height: 130px;
  padding: 30px;
  padding-top: 10px;
  background-image: url(../../images/marble2_wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.navTitleClass {
    
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .navTitleH3-Left {
    font-size: 36px;
    font-weight: 400;
    float: left;
    color: #283618;
  }
  .navTitleH3-Right {
    font-size: 24px;
    font-weight: 400;
    float: right;
    color: #283618;
  }
  


.navMenuClass {
  width: 100%;
  float: right;
}

.nav-link {
  color: #f2f2f2;
  background-color: #606C38;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  cursor: pointer;
  outline:0;
  border: none;
  float: right;

}

.nav-link:hover {
  background-color: #606C38;
  color: #DDA15E;
}

