
.nav {
  box-sizing: border-box;
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;

}

.nav-title-left {
    width: 40%;
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #f2f2f2;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.nav-title-right {
  width: 40%;
  float: right;
  font-size: 18px;
  font-weight: 400;
  color: #f2f2f2;
  margin-top: 5px;
  margin-bottom: 5px;

}

.nav-menu {
  width: 100%;
  float: right;
}

.nav-link {
  color: #f2f2f2;
  background-color: #00acb0;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  cursor: pointer;
  outline:0;
  border: none;
  float: right;

}

.nav-link:hover {
  background-color: #008183;
}

